/* variables */
:root {
  --blue: #0075ff;
  --blue-alt: #0d69d5;
  --orange: #f59e0b;
  --green: #22c55e;
  --red: #f44336;
  --grey: #888;
}

/* Display */
.d-flex {
  display: flex;
}

.d-grid {
  display: grid;
}

.gap-20 {
  gap: 20px;
}

@media (max-width: 767px) {
  .mobile-block {
    display: block;
  }
}

/* Flex */
.align-center {
  align-content: center;
}

.items-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.fd-column {
  flex-direction: column;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Background */
.bg-white {
  background: white;
}

.bg-eee {
  background: #eee;
}

/* color */
.c-black {
  color: #000;
}

.c-grey {
  color: var(--grey);
}

/* Padding & Margins */
.p-10 {
  padding: 10px;
}

.p-15 {
  padding: 15px;
}

.p-20 {
  padding: 20px;
}

.m-0 {
  margin: 0;
}

.m-20 {
  margin: 20px;
}

.mt-0 {
  margin-top: 0;
}

.mt-20 {
  margin-top: 20px;
}

/* Positions */
.p-relative {
  position: relative;
}

/* Text */
.txt-c {
  text-align: center;
}

.fs-14 {
  font-size: 14px;
}

/* Border radius */
.r-6 {
  border-radius: 6px;
}

.r-10 {
  border-radius: 10px;
}

/* width and height */
.w-full {
  width: 100%;
}
