/* Display */
.d-flex {
  display: flex;
}

/* Flex */
.align-center {
  align-content: center;
}

.items-center {
  align-items: center;
}

.fd-column {
  flex-direction: column;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Background */
.bg-white {
  background: white;
}

/* Padding & Margins */
.p-10 {
  padding: 10px;
}

.p-15 {
  padding: 15px;
}

.p-20 {
  padding: 20px;
}

.m-20 {
  margin: 20px;
}

.mt-0 {
  margin-top: 0;
}

.mt-20 {
  margin-top: 20px;
}

/* Positions */
.p-relative {
  position: relative;
}

/* Text */
.txt-c {
  text-align: center;
}

.fs-14 {
  font-size: 14px;
}

/* Border radius */
.r-6 {
  border-radius: 6px;
}

/* width and height */
.w-full {
  width: 100%;
}
