/* import fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

/* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

/* Page */
.page {
  min-height: 100vh;
  background: #f1f5f9;
}

.page .sidebar {
  width: 250px;
  box-shadow: 0 0 10px #ddd;
}

.page .sidebar h3 {
  height: 50px;
  width: 210px;
}

.page .sidebar h3::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 3px;
  background: #000;
  bottom: 0;
  left: 55px;
}

.page .sidebar h3::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: #000;
  border-radius: 50%;
  bottom: -7px;
  left: 97px;
  border: 3px solid white;
}

.page nav a {
  transition: 0.3s;
  margin-bottom: 10px;
}

.page nav a.active {
  background: #f6f6f6;
}

.page nav a:hover {
  background: #f6f6f6;
}

@media (max-width: 767px) {
  .page .sidebar {
    width: 67px;
    padding: 10px;
  }

  .page .sidebar h3 {
    font-size: 9px;
    height: 25px;
    width: 46px;
  }

  .page .sidebar h3::before {
    width: 35px;
    height: 2px;
    left: 6px;
  }

  .page .sidebar h3::after {
    width: 4px;
    height: 4px;
    bottom: -2px;
    left: 20px;
    border: 1px solid white;
  }

  .page .sidebar nav {
    align-items: center;
  }

  .page .sidebar nav a span {
    display: none;
  }
}

/* content */
.content header {
  box-shadow: 7px 0 5px #ddd;
}

.content header .icons {
  justify-content: space-between;
  width: 65px;
}

.content header img {
  width: 30px;
  height: 30px;
}

.content .search::before {
  font-family: var(--fa-style-family-classic, "Font Awesome 6 Free");
  content: "\f002";
  position: absolute;
  font-weight: 900;
  transform: translate(0, -50%);
  top: 50%;
  left: 10px;
}

.content header .search input {
  border-radius: 12px;
  border: 2px solid #eee;
  padding: 10px 10px 10px 35px;
}
